@import url("assets/fonts/stylesheet.css");

body {
    font-family: 'Graphik LCG', sans-serif;
    overflow-x: hidden;
    margin: 0;
    line-height: 1.6;
    color: rgb(0, 0, 0);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
                                        /* HHH */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Graphik LCG';
  }

h1 {
    font-family: 'Graphik LCG';
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 64px;
}

h2 {
    font-family: 'Graphik LCG';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 56px; 
}

h3 {
    font-family: 'Graphik LCG';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
}

h4 {
    font-family: 'Graphik LCG';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}

h5 {
    font-family: 'Graphik LCG';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

h6 {
    font-family: 'Graphik LCG';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}


.hr-line {
	height: 1px;
    border: 1px solid #ECEFF2;
    opacity: 50%;
}


.container {
    margin: 0 auto;
    max-width: 100%;
    max-width: 1216px;
}

.container--black {
    color: #333;
}

                                                  /* Header */

.header {        
    max-width: 1216px;
    
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 259px;
}

.header__bg {
    height: 960px;
    background: url(../img/1/bg.png) center no-repeat;
}

.header__name {
    font-size: 20px;
    font-weight: 600;
    font-family: "Graphik LCG";
    line-height: 24px;
    padding-left: 9px;
}



.header__nav {
    padding-top: 26px;
}

.header__circle--first {
    position: relative;
    left: 10px;
}

.header__logo {
    padding-top: 26px;
    display: flex;
    text-decoration: none;
    color: #fff;
}

.header__logo:hover {
    opacity: 0.8;
    transition: .2s linear;
}

.header__item {
    padding-right: 24px;
    text-decoration: none;
    color: #fff;
}


  .header__item:hover {
    color: #fff;
    opacity: 0.8;
    text-decoration: underline 2px;  
        
  }



.header__item:last-child {
    padding-right: 0;
}


.header__text {
    color: #fff;
    margin: 0 auto;
    position: absolute;
    width: 748px;
    height: 128px;
    width: 100%;
    text-align: center;   
}

.header__suptitle {
    padding-bottom: 112px;
}

                                        /* Button */
.button {
    font-weight: 600;
    font-size: 20px;
    font-family: 'Graphik LCG';
    border: 2px #fff;
    border-radius: 4px; 
    padding: 20px 40px;
    transition: color .2s linear, font-size .2s linear, border .2s linear;
}
                            
.button:hover {
    background-color: inherit;
    color: #fff;
    font-size: 26px;
    border: 3px solid #fff;
}


                                        /* Content */
.content__slider {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 70px;
}

.content__title {
    padding-top: 80px;
    margin: 0 auto;
    text-align: center;    
}



.content__description {
    padding-top: 4px;
    font-weight: 400;
    font-size: 14px;
}

.content__text {
    max-width: 280px;    
}

.content__item {
    padding-right: 30px;
}
.content__item:last-child {
    padding-right: 0;
}

                                        /* Third */
.third__content {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 80px;
    
}

.third__suptitle {
    font-family: 'Graphik LCG';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #5E646A;

}

.third__text {
    max-width: 592px;
    position: relative;
    align-self: center;
}


                                        /* Reviews */ 
.reviews__title {
    text-align: center;
    padding-top: 57px;
}

.reviews__text {
    height: 144px;
    color: #333;
    font-family: 'Graphik LCG';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    max-width: 341px;
}
.reviews__city {
    height: 16px;
    color: #333;
}

.reviews__padding {
    display: flex;
    padding: 33px;
    margin: 0 auto;
    
}
.reviews__img {
    position: relative;
    top: 10px;
}

.reviews__slider {
    display: flex;
    padding-right: 33px;
    max-width: 1216px;
    margin: 0 auto;    
    overflow: hidden;
}

.reviews__block {
    background: #F6F8FA;
}

.reviews__item {
    max-width: 341px;
    background:#fff;
    padding: 22px;
    width: 341px;
    height: 316px;
    max-height: 316px;;
    display: block;
    justify-content: space-between;
}

.reviews__name {
    position: relative;
    bottom: 40px;
    left: 70px;
}

.reviews__city {
    position: relative;
    font-weight: 400;
    font-size: 12px;
    color: #5E646A;
    font-family: 'Graphik LCG';
    line-height: 16px;
    bottom: 30px;
    left: 70px;
}


                                        /* Footer */
.footer__text {
    font-family: Graphik LCG;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    padding: 15px;
    padding-top: 80px;

}

                                        /* Slider */

.carousel {
    
    position: relative;
    width: 1900px;
    padding: 10px 40px;
    background: #F6F8FA;
    height: 564px;
  }
  
  .carousel img {
    width: 44px;
    height: 44px;
    display: block;
  }
  
  .arrow {
    position: absolute;
    padding: 0;
    background: inherit;
    border-radius: none;
    border: none;
    font-size: 40px;
    color: inherit;
    display: block;
    color: #C2C8CD;
  }
  
  .arrow:focus {
    outline: none;
  }
  
  .arrow:hover {
    color: #2A6CEA;
    cursor: pointer;
  }
  
  .prev {      
    left: 300px;
    top: 150px;
  }
  
  .next {
    right: 300px;
    top: 150px;
  }
  
  .gallery {
    margin: 0 auto;
    width: 1216px;
    overflow: hidden;
  }
  
  .gallery ul {
    height: 564px;
    width: 9999px;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: margin-left 600ms;
    font-size: 0;
  }
  
  .gallery li {
    display: inline-block;
  }