@import url("assets/fonts/stylesheet.css");

body {
    font-family: 'Graphik LCG', sans-serif;
    overflow-x: hidden;
    margin: 0;
    line-height: 1.6;
    color: rgb(0, 0, 0);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
                                        /* HHH */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Graphik LCG';
  }

h1 {
    font-family: 'Graphik LCG';
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 64px;
}

h2 {
    font-family: 'Graphik LCG';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 56px; 
}

h3 {
    font-family: 'Graphik LCG';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
}

h4 {
    font-family: 'Graphik LCG';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}

h5 {
    font-family: 'Graphik LCG';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

h6 {
    font-family: 'Graphik LCG';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}


.hr-line {
	height: 1px;
    border: 1px solid #ECEFF2;
    opacity: 50%;
}


.container {
    
    margin: 0 auto;
    max-width: 100%;
    max-width: 1920px;
}



.container--black {
    color: #333;
}
   


.header {        
    max-width: 1216px;
    
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 259px;
} 


.header.fixed {
    padding: 10px 0;
    background-color: #2A6CEA;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transform: translate3d(0, 0, 0);
    box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
    z-index: 1;
    max-width: 100%;
  }

  .header.active {
                                                  
    background-color: #2A6CEA;
  }

.header__bg {
    height: 960px;
    max-width: 100%;
    background: url(../img/1/bg.png) center no-repeat;
   
}

.header__name {
    font-size: 20px;
    font-weight: 600;
    font-family: "Graphik LCG";
    line-height: 24px;
    padding-left: 9px;
}

.header__title {
    font-family: 'Graphik LCG';
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 64px;
}



.nav {
    padding-top: 26px;
    flex-wrap:wrap;
    
}

.header__circle--first {
    position: relative;
    left: 10px;
}

.header__logo {
    padding-top: 26px;
    display: flex;
    text-decoration: none;
    color: #fff;
}

.header__logo:hover {
    opacity: 0.8;
    transition: .2s linear;
}

.nav__link {
    padding-right: 24px;
    text-decoration: none;
    color: #fff;
}


  .header__item:hover {
    color: #fff;
    opacity: 0.8;
    text-decoration: underline 2px;  
        
  }



.header__item:last-child {
    padding-right: 0;
}


.header__text {
    color: #fff;
    margin: 0 auto;
    position: absolute;
    width: 748px;
    height: 128px;
    width: 100%;
    text-align: center;   
}

.header__suptitle {
    padding-bottom: 112px;
}

                                        /* Button */
.button {
    font-weight: 600;
    font-size: 20px;
    font-family: 'Graphik LCG';
    border: 2px #fff;
    border-radius: 4px; 
    padding: 20px 40px;
    transition: color .2s linear, font-size .2s linear, border .2s linear;
}
                            
.button:hover {
    background-color: inherit;
    color: #fff;
    font-size: 26px;
    border: 3px solid #fff;
}


                                        /* Content */
.content__slider {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 70px;
}

.content__title {
    padding-top: 80px;
    margin: 0 auto;
    text-align: center;    
}



.content__description {
    padding-top: 4px;
    font-weight: 400;
    font-size: 14px;
}

.content__text {
    max-width: 280px;    
}

.content__item {
    padding-right: 30px;
}
.content__item:last-child {
    padding-right: 0;
}

                                        /* Third */
.third__content {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 80px;
    
}

.third__suptitle {
    font-family: 'Graphik LCG';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #5E646A;

}

.third__title {
    padding-bottom: 15px;
}

.third__text {
    max-width: 592px;
    position: relative;
    align-self: center;
}

.third__title {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
}






                                        /* Reviews */ 
.reviews__title {
    text-align: center;
    padding-top: 57px;
}

.reviews__text {
    height: 144px;
    color: #333;
    font-family: 'Graphik LCG';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    max-width: 341px;
}
.reviews__city {
    height: 16px;
    color: #333;
}

.reviews__padding {
    display: flex;
    padding: 33px;
    margin: 0 auto;
    
}
.reviews__img {
    position: relative;
    top: 10px;
}

.reviews__slider {
    display: flex;
    padding-right: 33px;
    max-width: 1216px;
    margin: 0 auto;    
    overflow: hidden;
}

.reviews__block {
    background: #F6F8FA;
}

.reviews__item {
    max-width: 341px;
    background:#fff;
    padding: 22px;
    width: 341px;
    height: 316px;
    max-height: 316px;;
    display: block;
    justify-content: space-between;
}

.reviews__name {
    position: relative;
    bottom: 40px;
    left: 70px;
}

.reviews__city {
    position: relative;
    font-weight: 400;
    font-size: 12px;
    color: #5E646A;
    font-family: 'Graphik LCG';
    line-height: 16px;
    bottom: 30px;
    left: 70px;
}


                                        /* Footer */
.footer__text {
    font-family: Graphik LCG;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    padding: 15px;
    padding-top: 80px;

}

                                        /* Slider */

.carousel {
    overflow: hidden;    
    position: relative;
    padding: 10px 40px;
    background: #F6F8FA;
    height: 564px;
  }
  
  .carousel img {
    width: 44px;
    height: 44px;
    display: block;
  }
  
  .arrow {
    position: absolute;
    padding: 0;
    background: inherit;
    border-radius: none;
    border: none;
    font-size: 40px;
    color: inherit;
    display: block;
    color: #C2C8CD;
  }
  
  .arrow:focus {
    outline: none;
  }
  
  .arrow:hover {
    color: #2A6CEA;
    cursor: pointer;
  }
  
  .prev {      
    left: 100px;
    top: 150px;
  }
  
  .next {
    right: 100px;
    top: 150px;
  }
  
  .gallery {
    margin: 0 auto;
    width: 1216px;
    overflow: hidden;
  }
  
  .gallery ul {
    height: 564px;
    
    width: 9999px;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: margin-left 600ms;
    font-size: 0;
  }
  
  .gallery li {
    display: inline-block;
  }



  /* Nav toggle */

  


.nav-toggle {
    width: 30px;
    padding: 10px 0;
    display: none;
    font-size: 0;
    color: transparent;
    border: 0;
    background: none;
    cursor: pointer;
  
    position: absolute;
    top: 23px;
    right: 23px;
    z-index: 1;
  }
  
  .nav-toggle:focus {
    outline: 0;
  }
  
  .nav-toggle__item {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
  
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transition: background .2s linear;
  }
  
  
  .nav-toggle.active .nav-toggle__item {
    background: none;
  }
  
  
  .nav-toggle__item:before,
   .nav-toggle__item:after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    left: 0;
    z-index: 1;
    transition: transform .2s linear;
  }
  
  .nav-toggle__item:before {
    top: -8px;
  
  }
  
  .nav-toggle__item:after {
    bottom: -8px;
  }
  
  .nav-toggle.active
  .nav-toggle__item:before {
    transform-origin: left top;
    transform: rotate(45deg) translate3d(0px, -2px, 0);
  }
  
  .nav-toggle.active
  .nav-toggle__item:after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translate3d(0px, 3px, 0);
  }

  


  @media (max-width: 770px) {

    .nav {
        display: none;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        background-color: #2A6CEA;
      }
  
      .nav.active {
          
        display: block;
        
      }
  
      .nav__link {
        display: block;
        margin: 0;
        padding: 8px 20px;
      }
  
      .nav-toggle {
        display: block;
      }

    
      .container {
        max-width: 768px;
        max-height: 1024px;
        
      }
      /* Header */
      .header__bg {
        margin: 0;
        height: 1024px;
        max-width: 100%;
        max-width: 768px;
        
        background: url(../img/media/bg.png) center no-repeat;
    }

      .header__nav {
        max-width: 768px;
        flex-wrap: wrap;
      }

      .header__item {
          flex-wrap: wrap;
      }

      .header__text {
          position: relative;
          bottom: -80px;
      }

      .header__title{
        font-size: 32px;
        line-height: 40px;
      }

      .header__suptitle {
          font-size: 16px;
          padding-top: 17px;;
      }

      .button {
          position: relative;
          bottom: 50px;
      }

      /* How it works */
      .content__slider {
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 768px;
        margin-right: 50px;
      }

      .content__item {
          display: flex;  
          flex-wrap: wrap;
          max-width: 300px;
      }

      .content__text {
          position: relative;
          bottom: 70px;
          left: 90px;
      }

      /* Third */

      .third__content {
          padding: 20px;
          display: flex;
          justify-content: space-between;
          padding-bottom: 70px;
      }

      .third__title {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;

      }

      .third__img {
          width: 351px;
          height: 265px;
          background: url(../img/media/bg2.png) center no-repeat;
      }

      .third__text {
        max-width: 768px;
      }

      /* Reviews */

      .reviews__block {
          margin: 0;
          max-width: 768px;
          height: 540px;
          
      }
      .reviews__title {
          padding-top: 30px;
      }

      .carousel {
          width: 768px;
          height: 500px;
      }

      .gallery {
          height: 540px;
      }

      .images {
          height: 103px;
      }

      .arrow {
      }


      .prev  {
          left: 10px;
      }

      .next {
          right: 10px;
          
      }

      .reviews__padding {
         position: relative;
         right: 30px;
         padding: 20px;
      }

      .gallery ul {
        height: 564px;
        
        width: 9999px;
        margin: 0;
        padding: 0;
        list-style: none;
        transition: margin-left 600ms;
        font-size: 0;
      }
  }

  @media (max-width: 375px) {

    .third__content {
        display: flex;
        flex-direction: column-reverse;
    }

    .third__title {
        padding-top: 7px;
    }

    .third__text {
        text-align: center;
    }

    .carousel {
        width: 375px;
    }

    .header__bg {
        width: 375px;   
    }

    .reviews__padding {
    }
    .prev {
        left: 0px;
    }

    .header__title {
        font-size: 24px;
    }

    .content__title {
        font-size: 24px;
    }
    .header {
        padding-bottom: 120px;
    }
  }
  
  @media (max-width: 320px) {
      .header {
          padding-bottom: 76px;
      }
      .header__suptitle {
          padding-bottom: 70px;
      }

      .header__bg {
          height: 670px;
          width: 360px;
      }
      
      .reviews__block {
          width: 365px;
      }
      .next {
          right: 0;
      }

      .carousel {
          width: 350px;
      }
      .third__img {
          width: 288px;
          height: 220px;
      }

      .container {
          margin: 0 auto;
      }
  }